<!DOCTYPE html>
<html ng-app="DigestApplyApp">
  <head>
    <meta charset="utf-8">
    <title>Watchers and using $digest and $apply</title>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="WatchersController">
    <button ng-click="incrementCounter();">Increment Counter</button> <br>
    <button ng-click="incrementDelayed();">Increment Delayed</button> <br/>
    <button ng-click="incrementDelayedWithDigest();">Increment Delayed And Call Digest</button><br>
    Counter: {{counter}}
  </body>
</html>
